@charset "utf-8";
* {
	transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-duration: .2s;
	-moz-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s
}

body {
	font-family: roboto, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background: #eef0f0
}

.form-group select {
	height: 45px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #fff;
	font-family: roboto, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	-moz-border-radius: 4px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	border-radius: 0!important;
	width: 100%
}

.dxcaTextBoxLabel_Metropolis {
	color: #807171
}

.modal-open {
	color: #000!important
}

.modal-body {
	color: #000!important
}

.modal-header {
	color: #000!important
}

.submit {
	height: 50px;
	margin: 0;
	width: 100%;
	padding: 0 20px;
	vertical-align: middle;
	background: #e33a00;
	border: 0;
	font-family: roboto, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #fff;
	border-radius: 0!important;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s
}

.navbar-collapse {
	position: relative;
	padding-top: 30px!important
}

.navbar-collapse form[role=search] {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 0
}

.navbar-collapse form[role=search] button,
.navbar-collapse form[role=search] input {
	padding: 8px 12px;
	border-radius: 0;
	border-width: 0;
	color: #777;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	box-shadow: none;
	outline: none
}

.navbar-collapse form[role=search] input {
	padding: 16px 12px;
	font-size: 14pt;
	font-style: italic;
	color: #a0a0a0;
	box-shadow: none
}

.menu {
	background: #c03100;
	height: 70px;
	position: relative;
	z-index: 999;
	margin-bottom: 0!important;
	border: 0!important
}

ul.menu-right li {
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	padding-top: 10px;
	cursor: pointer;
	line-height: 35px;
	vertical-align: middle
}

.Menuthanh {
	color: #fff!important;
	vertical-align: text-top;
	float: left;
	padding: 5px;
	display: inline-block;
	cursor: default
}

ul.menu-right li a {
	color: #fff!important;
	vertical-align: text-top;
	float: left;
	padding: 15px 5px;
	display: inline-block
}

ul.menu-right li:nth-last-child(1),
ul.menu-right li:nth-last-child(2),
ul.menu-right li:nth-last-child(3),
ul.menu-right li:nth-last-child(4) {
	display: none!important
}

ul.menu-right li span.icon,
ul.menu-right li span.icon,
ul.menu-right li span.icon {
	height: 32px;
	width: 32px;
	display: inline-block;
	margin-top: -10px;
	float: left
}

.taikhoan-res {
	padding-top: 10px;
	display: none
}

.taikhoan-res span.icon-tkres {
	height: 32px;
	width: 32px;
	display: inline-block;
	float: left;
	background: url(../img/iconbg.png) -73px 0
}

i.arrowdow-tk {
	height: 15px;
	width: 32px;
	display: inline-block;
	color: #f6ff00
}

span.texttk {
	line-height: 40px;
	display: inline-block;
	color: #fff!important
}

span.infoaccount {
	background: url(../img/iconbg.png) -73px 0
}

i.arrowdow {
	background: url(../img/iconbg.png) -151px -44px;
	height: 15px;
	width: 32px;
	display: inline-block
}

ul.menu-right>.open>a,
ul.menu-right>.open>a:hover,
ul.menu-right>.open>a:focus {
	background: 0 0!important
}

form.sreach {
	margin: 10px 0!important
}

button.btn-sreach {
	background: #9a2700!important
}

button.btn-sreach {
	color: #fff!important
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff!important
}

.menu-click {
	padding: 0!important;
	background: #a52a00!important;
	border: none!important
}

.menu-click a {
	width: 100%;
	height: 35px;
	padding: 0!important;
	text-align: center
}

.menu-click a:hover {
	text-decoration: none;
	background-color: #c10000
}

.menu-bot {
	background: #3b3b3b;
	height: 40px;
	border: none!important;
	border-radius: 0!important;
	margin-bottom: 0!important
}

.menu-bot-2 {
	float: none;
	text-align: center;
	padding-top: 15px;
	margin-bottom: -1px;
	display: block;
	margin-left: -15px
}

.menu-bot-2 ul.mainmenu {
	list-style: none;
	margin-bottom: 0;
	position: relative
}

.menu-bot-2 ul.mainmenu>li:first-child {
	margin-left: 0
}

.menu-bot-2 ul.mainmenu>li {
	display: inline-block;
	white-space: nowrap;
	margin-left: 45px;
	letter-spacing: 1px;
	border-bottom: 4px transparent;
	height: 35px
}

.menu-bot-2 ul.mainmenu>li a {
	color: #f1f1f1;
	font-size: 18px;
	font-weight: Normal;
	padding: 10px 0;
	text-decoration: none
}

.menu-bot-2 ul.mainmenu>li:hover {
	border-bottom: 4px #d13500 solid;
	-webkit-transition: border-color 100ms ease;
	transition: border-color 100ms ease;
	-os-transition: border-color 100ms ease;
	-moz-animation: border-color 100ms ease;
	cursor: pointer
}

img {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden
}

#wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative
}

.bg-slide {
	background: #efefef
}

.bg-white {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px
}

.bg-xam {
	background: #eef0f0
}

.sidebar {
	display: none
}

.title-left {
	font-size: 18px;
	color: #626262;
	margin-bottom: 15px;
	display: block
}

.icon-nt,
.icon-tk,
.icon-ql,
.icon-sgd,
.icon-kh {
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../img/icon-left-min.png) 0 0 no-repeat;
	position: relative;
	top: 13px;
	margin-right: 7px;
	margin-left: 4%
}

.icon-nt {
	background: url(../img/icon-left-min.png) 0 0 no-repeat
}

.icon-tk {
	background: url(../img/icon-left-min.png) -34px 0 no-repeat
}

.icon-ql {
	background: url(../img/icon-left-min.png) -68px 0 no-repeat
}

.icon-sgd {
	background: url(../img/icon-left-min.png) -102px 0 no-repeat
}

.icon-kh {
	background: url(../img/icon-left-min.png) -136px 0 no-repeat
}

.ico {
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/icon-left-min.png) -173px 0 no-repeat;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -7px
}

.nav-tabs-right {
	float: left
}

.placeholders {
	margin: 0!important
}

.placeholder {
	border: 5px solid #fff;
	height: 200px;
	background: #ebebeb
}

.placeholder:hover {
	background: #d6d6d6
}

.placeholder:nth-last-child(0) {}

.placeholder img {
	margin: 24px 0 12px
}

.text-tilte {
	text-align: center;
	display: block;
	color: #5c5c5c!important;
	cursor: pointer
}

.khung-white {
	background: #fff;
	border: 5px solid #eef0f0
}

.width-100 {
	width: 100%!important
}

.float-left {
	float: left!important
}

.margin-five-bottom {
	margin-bottom: 3%!important
}

.text-medium {
	font-size: 14px;
	line-height: 24px
}

.text-white {
	color: #fff
}

.display-block {
	display: block
}

.margin-five-top {
	margin-top: 3%
}

.text-color {
	color: #0f0f0f
}

.text-color:hover {
	color: #c03100
}

.text-color span {
	float: right;
	font-size: 15px;
	font-weight: 400
}

.text-color img {
	margin-right: 5px
}

.padding-60px-tb {
	padding-top: 60px!important;
	padding-bottom: 60px!important
}

.nav-side-menu {
	font-size: 15px;
	font-weight: 300;
	height: 100%;
	color: #383839
}

.nav-side-menu .brand {
	margin-bottom: 20px
}

.nav-side-menu .toggle-btn {
	display: none
}

.nav-side-menu ul,
.nav-side-menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 50px;
	cursor: pointer
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right
}

.nav-side-menu li a.active {
	border-left: 5px solid #e80000;
	height: 56px;
	display: block
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
	color: #d19b3d
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
	color: #d19b3d
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
	background-color: #020203
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle
}

.nav-side-menu li {
	border: 1px solid #d8d8d8;
	margin-bottom: -1px
}

.nav-side-menu li a {
	text-decoration: none;
	color: #383839;
	font-size: 16px;
	font-weight: 400
}

.nav-side-menu li a:hover {
	border-left: 5px solid #e80000;
	height: 56px;
	display: block;
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	-ms-transition: all 0s ease;
	transition: all 0s ease
}

@media(max-width:1200px) {
	#ppage {
		width: 98%!important
	}
}

.bg-dark-blue {
	background: #2c353f
}

.social-icon .fa {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 36px;
	height: 36px!important;
	font-size: 14px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	color: #fff
}

footer .social-icon a {
	margin-right: 10px
}

footer .social-icon a:nth-last-child(1) {
	margin-right: 0
}

footer .social-icon a i {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	display: block
}

.youtube {
	background: url(../img/youtube.png) no-repeat
}

.facebook {
	background: url(../img/facebook.png) no-repeat
}

.youtube:hover,
.facebook:hover {
	opacity: .8
}

@media(min-width:768px) {
	.navbar-right {
		padding-top: 0!important;
		padding-right: 38px!important
	}
	.navbar-collapse form[role=search] {
		width: 38px
	}
	.navbar-collapse form[role=search] button,
	.navbar-collapse form[role=search] input {
		padding: 15px 12px
	}
	.navbar-collapse form[role=search] input {
		padding: 25px 12px;
		font-size: 18pt;
		opacity: 0;
		display: none
	}
	.navbar-collapse form[role=search].active {
		width: 100%
	}
	.navbar-collapse form[role=search].active button,
	.navbar-collapse form[role=search].active input {
		display: table-cell;
		opacity: 1
	}
	.navbar-collapse form[role=search].active input {
		width: 100%;
		text-align: right
	}
	.navbar-collapse form[role=search].active button[type=submit] {
		background-color: #e7e7e7
	}
	.sidebar {
		position: relative;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #f5f5f5;
		border-right: 1px solid #eee
	}
	.nav-side-menu .menu-list .menu-content {
		display: block
	}
}

@media(max-width:991px) {
	.sm-text-center {
		text-align: center!important
	}
	.sm-margin-five-bottom {
		margin-bottom: 2%!important
	}
	.nav-tabs-left>li.nav-tabs-li>a {
		font-size: 13px
	}
	.nav-side-menu li a {
		font-size: 12px
	}
}

@media(max-width:768px) {
	.nav-tabs-left>li.nav-tabs-li>a {
		font-size: 16px
	}
	ul.menu-right li {
		width: 100%;
		background: #c03100;
		border-bottom: 1px solid #a52a00;
		padding-left: 10px;
		padding-top: 0
	}
	.taikhoan-res {
		display: inline-block
	}
	ul.menu-right li:nth-last-child(1),
	ul.menu-right li:nth-last-child(2),
	ul.menu-right li:nth-last-child(3),
	ul.menu-right li:nth-last-child(4) {
		display: inline-block!important
	}
	.tk-an {
		display: none!important
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none!important
	}
	.menu-bot {
		display: none!important
	}
	.nav-tabs-left {
		width: 50%
	}
	.margin-five-top-768 {
		margin-top: 3%
	}
	.nav-tabs-left>li.active>a,
	.nav-tabs-left>li.active>a:hover,
	.nav-tabs-left>li.active>a:focus {}
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
		background: #c03100
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10!important;
		padding: 3px;
		background: url('./left-menu.jpg') no-repeat;
		color: #000;
		width: 40px;
		height: 30px;
		text-align: center
	}
	.brand {
		text-align: left!important;
		font-size: 22px;
		line-height: 50px!important
	}
	.nav-side-menu .brand {
		margin-bottom: 0!important;
		background: #c03100;
		padding: 0;
		color: #fff
	}
	.nav-side-menu li {
		border-bottom: 1px solid #a02900;
		border-top: 1px solid #a02900;
		border-right: 0;
		border-left: 0
	}
	.nav-side-menu li a {
		color: #fff
	}
	.nav-side-menu ul li a.active,
	.nav-side-menu li a.active,
	.nav-side-menu li a:hover {
		border-left: 5px solid #fff
	}
	.bg-white {
		padding-top: 0
	}
	.nav-side-menu li a {
		font-size: 16px
	}
}

@media(max-width:420px) {
	.nav-tabs-left {
		width: 100%
	}
	.menu {
		height: 100px
	}
	.navbar-brand img {
		width: 80%
	}
	.taikhoan-res {
		padding-left: 15px;
		padding-top: 15px
	}
}